html, body
{
    height:100%;
    width:100%;
    font-family:'Helvetica';
    padding:0px;
    margin:0px;
    overflow:hidden;
     background:rgb(51,51,51);
    background-size: 150px auto;
}


svg
{
    min-width: 100%;
    min-height:100%;
}
